@{
    ViewData["Title"] = "Index";
}

<h2>Assignments for Labb 2 - LINQ</h2>

<div class="mt-4">
    <div class="list-group">
        <a asp-action="GetTeachersInProgramming1" class="list-group-item list-group-item-light p-3">
            Retrieve all teachers in 'Programmering 1'
        </a>
        <a asp-controller="Students" asp-action="GetAllStudentsWithTeachers" class="list-group-item list-group-item-light p-3">
            Retrieve all students and their respective teachers
        </a>
        <a asp-action="GetStudentsWithTeachersInProgramming1" class="list-group-item list-group-item-light p-3">
            Retrieve all students and their respective teachers in 'Programmering 1'
        </a>
        <a asp-action="GetAllCourses" class="list-group-item list-group-item-light p-3">
            Modify courses
        </a>
        <a asp-action="UpdateTeacherForStudentInProgramming1" class="list-group-item list-group-item-light p-3">
            Update a student's teacher in 'Programmering 1'
        </a>
    </div>
</div>
