@model List<Labb2Linq.ViewModels.GetAllStudentsWithTeachersVM>

@{
    ViewData["Title"] = "Retrieve all students with teachers";
}

<h2>All students with their respective teachers</h2>
<hr />

@if (Model.Count != 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student</th>
                <th>Teacher(s)</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.StudentName</td>
                    <td>
                        @foreach (var teacher in student.Teachers)
                        {
                            @teacher.TeacherName
                            <br />
                        }
                    </td>
                    <td>@student.ClassName</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-3">
        <p>No students and teachers found.</p>
    </div>
}

<a asp-controller="Courses" asp-action="Index" class="btn btn-outline-primary mt-2">Back</a>
